{% block filters %}
    <form class='filtersStore' method="get">
        {% if not category %}
            <div class='filterCheckbox'>
                <label>
                    Category
                </label>
                <div class="checkboxBlock">
                    {% for category in categories %}
                        <div class="checkbox">
                            <input type="checkbox" name="category[]" value="{{ category.id }}" id="{{category.name}}"
                                   {% if category.id in applied.category %}checked{% endif %}>
                            <label for="{{category.name}}">{{ category.name }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class='filterCheckbox'>
            <label>
                Made In
            </label>
            <div class="checkboxBlock">
                {% for country in countries %}
                    <div class="checkbox">
                        <input type="checkbox" name="made[]" value="{{ country }}" id="{{country}}"
                               {% if country in applied.made %}checked{% endif %}>
                        <label for="{{country}}">{{ country }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='filterFromTo'>
            <span>Price</span>
            <div class='inputFromTo'>
                <div class='fieldInput'>
                    <label>from</label>
                    <input class="inputFromTo" autocomplete='off' name='price-from' type='number' value="{{ applied['price-from'] }}"/>
                </div>

                <div class='fieldInput'>
                    <label>to</label>
                    <input autocomplete='off' name='price-to' type='number' value="{{ applied['price-to'] }}"/>
                </div>
            </div>
        </div>
        <div class="actionFilters">
            <button>Apply</button>
            <a href="{{ path }}" class="reset">Reset filters</a>
        </div>
    </form>

    <script src="/make-up/src/Public/Js/Filters.js?v={{ current_time() }}"></script>
{% endblock %}
