{% extends "Layout/PublicLayout.twig" %}
{% block content %}
    <div class='blockCreateOrder'>
        <form class='infoForm' method="post">
            <div class='formDeliveryInfo'>
                <h5>Personal data for delivery :</h5>
                <div class='fieldInput'>
                    <div class='blockInput'>
                        <label>First Name</label>
                        <input autocomplete='off' id='first_name' type='text' name="first_name"
                               placeholder='First Name' value="{{ deliveryInfo.first_name }}"/>
                    </div>
                </div>
                <div class='fieldInput'>
                    <div class='blockInput'>
                        <label>Last Name</label>
                        <input autocomplete='off' id='last_name' type='text' name="last_name"
                               placeholder='Last Name' value="{{ deliveryInfo.last_name }}"/>
                    </div>
                </div>
                <div class='fieldInput'>
                    <div class='blockInput'>
                        <label>Address</label>
                        <input autocomplete='off' id='address' type='text' name="address"
                               placeholder='Address' value="{{ deliveryInfo.address }}"/>
                    </div>
                </div>

                {% if error %}
                    <div class='error'>{{ error }}</div>
                {% endif %}
            </div>

            <main class='order'>
                <h5>Your order :</h5>
                <div class='productItems'>
                    {% include 'Components/Cart/CartItems.twig' with {
                        'cartProducts': cartProducts,
                    } %}
                </div>
                <div class='line'></div>
                <div class='totalBlocks'>
                        <div class='totalBlock'>
                            <div>Total price:</div>
                            <div class="cartSum">{{ cartSum }} $</div>
                        </div>

                        <div class='totalBlock'>
                            <div class="selectDelivery">
                                <select class="deliverySelect" name="deliverySelect">
                                    <option value="">Choose delivery</option>
                                    {% for delivery in deliveries %}
                                        <option data-price="{{ delivery.price }}" value="{{ delivery.id }}">{{ delivery.delivery_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="deliveryPrice"></div>
                        </div>

                        <div class='totalBlock'>
                            <div>Together:</div>
                                <div class='togetherPrice'></div>
                        </div>
                </div>
                <div class='checkout'>
                    <button  class='checkoutButton' type="submit">
                        Checkout
                    </button>
                </div>
            </main>
        </form>
    </div>
    <script src="/make-up/src/Public/Js/Checkout.js?v={{ current_time() }}"></script>
{% endblock %}
