 {% extends "Layout/PublicLayout.twig" %}
{% block content %}
	<div class='carousel'>
		<img src='/make-up/src/Public/Img/bcgimg.jpeg'/>
	</div>
	<div class='page_title'>{{ category ? category : '' }}</div>

	<main class='main_page'>
		<div>
			{% include 'Components/Filters/FiltersStore.twig' with {
				'field': field,
				'order': order,
				'path': path,
				'filters': filters
			} %}
		</div>
		<div class='catalog'>
			<div class='block_sort'>
				{% include 'Components/Sort/Sort.twig' with {
					'field': field,
					'order': order,
					'path': path
				} %}
			</div>
			<div class='products'>
				{% for product in data %}
					<a href="/make-up/product/{{ product['id'] }}" class='product'>
						<img src={{product['image']}}/>

						<div class='info'>
							<h1>{{ product['title'] | ucwords }}</h1>
							<p>{{product['price']}}$</p>
							<div>
								<button class='add_product' type="button" product-id={{product['id']}}>
									Buy
								</button>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</main>
	{% block paginate %}
		{% if totalPages > 1 %}
			{% include 'Components/Paginate/Paginate.twig' with {
				'currentPage': currentPage,
				'totalPages': totalPages,
				'field': field,
				'order': order,
				'path': path,
				'filters': filters
			} %}
		{% endif %}
	{% endblock %}
{% endblock %}
