{% set BASE_URL = '/make-up/' %}

{% set menuStoreData = [
    {'title': 'Perfumery', 'path': BASE_URL ~ 'category/perfumery'},
    {'title': 'Hair', 'path': BASE_URL ~ 'category/hair'},
    {'title': 'Face', 'path': BASE_URL ~ 'category/face'},
    {'title': 'Makeup', 'path': BASE_URL ~ 'category/makeup'},
    {'title': 'To men', 'path': BASE_URL ~ 'category/to-men'},
    {'title': 'Health & Care', 'path': BASE_URL ~ 'category/health-&-care'},
    {'title': 'Gifts', 'path': BASE_URL ~ 'category/gifts'},
    {'title': 'Clothes', 'path': BASE_URL ~ 'category/clothes'}
] %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/make-up/src/Public/Css/Public.css?v={{ current_time() }}">
    <link rel="stylesheet" href="/make-up/src/Public/Css/Cart.css?v={{ current_time() }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

</head>
<body class="PublicLayout">
<div class='HeaderShop'>
    <div class='top'>
        <span>100% original products!</span>
        <ul>
            <li>
                <a href=''>Actions</a>
            </li>
            <li>
                <a href=''>MAKEUP Club</a>
            </li>
            <li>
                <a href=''>Delivery and Payment</a>
            </li>
            <li>
                <a to=''>Articles</a>
            </li>
            <li>
                <a href=''>About the store</a>
            </li>
        </ul>
        <span>Office</span>
    </div>
    <div class='bottom'>
        <div class='connection'>
            <a href=''>0(800) 50 77 40</a>
            <p>Every day from 7:55 to 20:05</p>
            <button>Call back</button>
        </div>
        <a href={{ BASE_URL ~ 'main' }}>
            <img src='/make-up/src/Public/Img/logo.svg'/>
        </a>
        <div class='user'>
            <div class='userAuth'>
                {% if not isAuth() %}
                    <a href={{ BASE_URL ~ 'auth/login' }}>
                        <span class='material-symbols-outlined'>person</span>
                    </a>
                {% endif %}

                {% if isAuth() %}
                    <div class='authBlock'>
                        <span>{{ isAuth() ? getAuthUser().name : 'Guest' }}</span>
                        <span class='logout'>
									<span class='material-symbols-outlined'>logout</span>
								</span>
                    </div>
                {% endif %}
            </div>

            <div class="cart-content">
                {% block cart %}
                    {{ cartModal ? cart_content : '' }}
                {% endblock %}
            </div>

            <div class='cart'>
						<span class="material-symbols-outlined">
							shopping_bag
						</span>
            </div>
            <form class='search'>
                <input name='search' value='' autocomplete='off' type='search' placeholder='Search...'/>
                <button type='submit'>
                    <span class='material-symbols-outlined'>search</span>
                </button>
            </form>
        </div>
    </div>
</div>
<div class='mainPage'>
    <nav class='menuStore'>
        <ul class='mainMenu'>
            {% for li in menuStoreData %}
                <li class='menuLi'>
                    <a href={{ li.path }}>
                        {{ li.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {# {{ dump(content) }} #}

    {% block content %}
        {{ main_content | raw }}
    {% endblock %}

</div>
</body>
</html>


<script src="/make-up/src/Public/Js/Auth.js?v={{ current_time() }}"></script>
<script src="/make-up/src/Public/Js/Cart.js?v={{ current_time() }}"></script>
<script src="/make-up/src/Public/Js/Service/CartService.js?v={{ current_time() }}"></script>
