 {% extends "Layout/PublicLayout.twig" %}
{% block content %}
	<div class='carousel'>
		<img src='/make-up/src/Public/Img/bcgimg.jpeg'/>
	</div>
	<div class='pageHeader'>{{ category ? category : '' }}</div>
	<main class='containerMainPage'>

		<div class='filtersProducts'>
			FiltersCategoryPage
		</div>
		<div class='catalogProducts'>
			<div
				class='blockSort'>{# <Sort setsortcatalog={setSortCatalog}/> #}
			</div>
			<div class='products'>
				{% for product in products %}
					<a href="/make-up/product/{{ product['id'] }}" class='product'>
						<img src={{product['image']}}/>

						<div class='info'>
							<h1>{{ product['title'] | ucwords }}</h1>
							<p>{{product['price']}}$</p>
							<div>
								<button class='addToCart' type="button" product-id={{product['id']}}>
									Buy
								</button>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</main>
	{% block paginate %}
		{% if totalPages > 1 %}
			{% include 'Paginate/Paginate.twig' with {
				'currentPage': currentPage,
				'totalPages': totalPages,
				'path': path
			} %}
		{% endif %}
	{% endblock %}
{% endblock %}
