{# {% extends "Layout/PublicLayout.twig" %} #}
{% block content %}
	<div class='carousel'>
		<img src='/make-up/src/Public/Img/bcgimg.jpeg'/>
	</div>

	<main class='containerMainPage'>
		<div class='filtersProducts'>
			FiltersCategoryPage
			{# <FiltersCategoryPage/> #}
		</div>
		<div class='catalogProducts'>
			<div
				class='blockSort'>{# <Sort setsortcatalog={setSortCatalog}/> #}
			</div>
			<div class='products'>
				{% for product in products %}
					<a href="product/{{ product['id'] }}" class='product'>
						<img src={{product['image']}}/>

						<div class='info'>
							<h1>{{ product['title'] | ucwords }}</h1>
							<p>{{product['price']}}$</p>
							<div>
								<button class='addToCart' type="button" product-id={{product['id']}}>
									Buy
								</button>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
			{# <Paginator currentpage={page} totalpages={totalPages} onpagechange={onPageChange}/> #}
		</div>
	</main>
{% endblock %}
