{% block cart %}
	<div class='modal'>
		<div class='overlay hideCart'>
			<div class='cartModal'>
				<div class='title'>
					<h3>Cart</h3>
					<span class='material-symbols-outlined hideCart'>
						close
					</span>
				</div>
				<div class='line'></div>

				<div class='productItems'>
					{% if cartProducts %}
						{% for product in cartProducts %}
							<div>
								<a href="product/{{ product['id'] }}" class='item'>
									<div class='productImg'>
										<img src={{product['image']}}/>
									</div>

									<div class='product_info'>
										<div class='info_option'>
											<p class='title'>{{product['title']}}</p>
											<p class='classification'>{{product['category']}}</p>
											<div class='counter'>
												<span class='material-symbols-outlined'>
													remove
												</span>
												<p class='count'>{{product.count}}</p>
												<span class='material-symbols-outlined'>
													add
												</span>
												<span class='material-symbols-outlined'>
													close
												</span>
											</div>
										</div>
										<p class='productPrice'>{{product['price']}}
											$</p>
									</div>
								</a>
								<div class='line'></div>
							</div>
						{% endfor %}

					{% else %}
						<p>Cart is empty</p>
					{% endif %}
				</div>

				<div class='totalPrice'>
					<div>Total price:</div>
					<div>{{cartSum ? cartSum : 0}}
						$</div>;
				</div>

				<div class='line'></div>
				<div class='bottom'>
					<span class='hideCart'>Continue Shopping</span>
					{% if cartProducts %}
						<a href="checkout">
							<button>Checkout</button>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
