{% extends "Layout/AuthLayout.twig" %}
{% block content %}
	<main class='containerLogin'>
		<form class='form' method="post">
			<img src='/make-up/src/Public/Img/bcgAuth.png'/>
			<span class='authTitle'>{{type}}</span>

			{% if type == 'register' %}
				<div class='blockInput'>
					<span class='material-symbols-outlined'>signature</span>
					<div class='fieldInput'>
						<label>Name</label>
						<input autocomplete='off' id='name' type='text' label='Name' name='name' placeholder='Name...' value="{{ data.name }}"/>
					</div>
				</div>
			{% endif %}

			<div class='blockInput'>
				<span class='material-symbols-outlined'>mail</span>

				<div class='fieldInput'>
					<label>{Email}</label>
					<input autocomplete='off' id='email' type='text' label='Email' name='email' placeholder='Email...' value="{{ data.email }}"/>
				</div>

			</div>

			<div class='blockInput'>
				<span class='material-symbols-outlined'>lock</span>

				<div class='fieldInput'>
					<label>{label}</label>
					<input autocomplete='off' id='password' type='password' label='Password' name='password' placeholder='Password...' value="{{ data.password }}"/>
				</div>
			</div>

			{% for validateErrors in error %}
				<div class='errorAuth'>{{validateErrors}}</div>
			{% endfor %}

			<button>Get Started</button>
		</form>
		<div class='bottomLink'>
			<a to=''>Create Account</a>
			<a to=''>Need help</a>
		</div>
	</main>
{% endblock %}
